div.header {
  z-index: 3;
  background: var(--color-primary);
  color: #ffffff;

  div {
    display: flex;
    align-items: center;

    @media (min-width: 1200px) {
      &:nth-of-type(2) {
        width: 50%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .header__controls {
    flex-grow: 1;
  }
}

._mrg-r {
  margin-right: 15px !important;
}

.header__logo {
  height: 40px;
  width: 40px;
  background: var(--color-surface);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;;

  img {
    height: 28px;
    width: 28px;
  }
}

.header__name {
  color: #FFFFFF;
}

.header__menu {
  ul {
    min-width: 120px;

    li {
      display: flex;
      justify-content: space-between;

      &:hover {
        background: var(--color-secondary-light-2);
      }

      &:active, &._active {
        background: var(--color-secondary-light-1);

        &:hover {
          background: var(--color-secondary-light-2);
        }
      }

      &._selected {
        background: var(--color-secondary-light-2);
      }
    }

  }
}

