div.header {
  background: var(--primary-light-3);
  color: #ffffff;

  div {
    display: flex;
    align-items: center;

    &:nth-of-type(2) {
      width: 50%;
    }
  }
}

._mrg-r {
  margin-right: 15px !important;
}

.header__logo {
  height: 30px;
  width: 30px;
}

.header__name {
  color: var(--primary-dark-4);
}

.header__menu {
  &._assets {
    ul {
      min-width: 200px;
    }
  }

  ul {
    li {
      margin-right: 10px;
      display: flex;
      justify-content: space-between;

      &:hover {
        background: var(--primary-light-4);
      }

      &:focus, ._active {
        background: var(--primary-light-3);

        &:hover, &:focus {
          background: var(--primary-light-2);

        }
      }
    }

  }
}

