.market-bar {
  .MuiTabs-indicator {
    background: var(--color-secondary);
  }
}

.MuiTab-root.block-header {
  min-width: 0;
  margin-top: 20px;
}

.market {
  height: 130px;
  padding: 10px;

  .market__mode {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    &._hidden {
      display: none;
    }

    input.MuiInput-input {
      padding: 2px;
    }
  }
}