.market-watch__placeholder {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  background: var(--color-primary-light-1);
  border-right: 1px solid var(--color-primary);
  box-shadow: 0 0 0 0 #ffffff, 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 0 0 0 #ffffff, 0 0 0 0 #ffffff;

  &._inner {
    top: 0;
    left: 350px;
  }
}

button.market-watch__button, .market-watch__button:focus {
  cursor: pointer;
  position: fixed;
  transform: rotate(90deg);
  top: 120px;
  left: -18px;
  background: var(--color-primary-light-1);
  color: #FFFFFF;
  border: 1px solid var(--color-primary);
  border-bottom: navajowhite;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;

  &._inner {
    left: 332px;
  }
}

div.MuiDrawer-paperAnchorLeft {
  width: 390px;
  background: transparent;
  box-shadow: none;
}

.market-watch__content {
  width: 350px;
  height: 100%;
  overflow: auto;
  background: var(--color-surface);

  .Component-horizontalScrollContainer-16 tr {
    &:hover {
      background-color: var(--color-secondary-light-2) !important;
    }
  }

  tbody {
    td:first-child {
      min-width: 125px;
      border-right: 1px solid var(--color-surface);

    }
  }

  //.MuiPaper-root {
  //  height: 100%;
  //}
  //
  //tfoot.MuiTableFooter-root {
  //  position: absolute;
  //  width: 100%;
  //  bottom: 0;
  //}
}