.auth_bar {
  background: var(--color-primary-light-2);
  color: #FFFFFF;
  text-transform: none;

  .MuiTabs-indicator {
    background: var(--color-secondary);
  }
}

.auth_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 0 20px;

  > div {
    margin-bottom: 20px;
  }
}