body {
  --color-primary: #232f2f;
  --color-primary-light-1: #334444;
  --color-primary-light-2: #415757;
  --color-secondary: #f9aa33;
  --color-secondary-light-1: #fcc13b;
  --color-secondary-light-2: #ffd942;
  --color-surface: #f9f9f9;
}
