//$primary-dark-5: #366849;
//$primary-dark-4: #366849;
//$primary-dark-3: #3e7855;
//$primary-dark-2: #468863;
//$primary-dark-1: #4c956e;
//$primary: #59a57f;
//$primary-light-1: #6fb593;
//$primary-light-2: #93cab0;
//$primary-light-3: #bcdfce;
//$primary-light-4: #e3f2ec;

body {
  --primary-dark-5: #284c32;
  --primary-dark-4: #366849;
  --primary-dark-3: #3e7855;
  --primary-dark-2: #468863;
  --primary-dark-1: #4c956e;
  --primary: #59a57f;
  --primary-light-1: #6fb593;
  --primary-light-2: #93cab0;
  --primary-light-3: #bcdfce;
  --primary-light-4: #e3f2ec;
}
