div.bank-card__field {
  &._owner {
    margin-right: 20px;

    input {
      text-transform: uppercase;
    }
  }

  &._cvv {
    width: 100px;
  }

  &._number {
    margin-top: 20px;
  }

  &._year {
    margin-left: 20px;
    margin-right: auto;
  }

  &._currency {
    margin-left: 20px;
    width: 150px;
  }

}

div.bank-card__date {
  display: flex;
  margin-top: 20px;

  img {
    margin-left: 10px;
  }
}

.bank-card__values {
  margin-top: 20px;
}