div.loader {
  z-index: 99999999 !important;
}

.app-container {
  margin: 20px 0 20px 60px;
}

.main-container {
  flex-wrap: wrap;

  //@media (max-width: 1200px) {
  //  height: calc(200vh - 106px);
  //}
}

.main-pair-inner {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 106px);

  @media (max-width: 1200px) {
    flex-grow: 1;
  }
}

.app-history-container {
  margin-top: 20px;
  //display: flex;
  //width: 100%;
  padding-right: 20px;
}