@import "./static/colors";

body {
  margin: 0;
  padding: 0;
}

i {
  color: var(--primary-dark-5);
}

._df-aic-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._df-aic-jcsa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.main__block {
  border: 1px solid var(--primary-dark-4);
  border-radius: 10px;
  height: 100%;
  margin: 20px;

  .main__block-header {
    text-align: center;
    background: var(--primary-light-3);
    color: var(--primary-dark-5);
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

button.primary {
  color: #ffffff;
  background: var(--primary-light-1);
  border: 1px solid var(--primary-dark-4);
  border-radius: 3px;
  min-width: 120px;
  height: 28px;
  text-transform: none;

  &:hover {
    background: var(--primary-light-2);
  }

  &:focus {
    background: var(--primary-light-3);
  }
}