@import "./static/colors";

body {
  margin: 0;
  padding: 0;
  background: var(--color-surface);
}

i {
  color: #FFFFFF;
}

._df-aic-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._df-aic-jcsa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.main__block {
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  height: 100%;
  margin: 20px;

  .main__block-header {
    text-align: center;
    background: var(--color-primary-light-1);
    color: #FFFFFF;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

button.primary {
  color: #000000;
  background: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  min-width: 120px;
  height: 28px;
  text-transform: none;

  &:hover {
    background: var(--color-secondary-light-1);
  }
}